<html>
    <body>
        <h1>Cadastro de Carros</h1>
        <form action="/cadastroCarro" method="POST">
            <p>
                Marca: <select name="marca">
                    <option>Audi</option>
                    <option>Fiat</option>
                    <option>VW</option>
                    <option>Chevrolet</option>
                </select>
            </p>
            <p>
                Modelo: <input type="text" name="modelo" value=""/>
            </p>
            <p>
                Ano: <input type="number" name="ano" value="2023"/>
            </p>
            <p>
                <input type="submit" value="Salvar"/>
            </p>
        </form>
    </body>
</html>