<html>
    <body>
        <h1>Cadastro de Livros</h1>
        <form action="/cadastroLivro" method="POST">
            <p>
                Nome: <input type="text" name="nome" value=""/>
            </p>
            <p>
                Autor: <input type="text" name="autor" value=""/>
            </p>
            <p>
                Ano: <input type="number" name="ano" value="2023"/>
            </p>
            <p>
                <input type="submit" value="Salvar"/>
            </p>
        </form>
    </body>
</html>