<html>
  <body>
    <h1>Cadastro de Músicas</h1>
    <form action="/cadastroMusica" method="POST">
      <p>Nome: <input type="text" name="nome" value="" /></p>
      <p>Artista: <input type="text" name="artista" value="" /></p>
      <p>Álbum: <input type="text" name="album" value="" /></p>
      <p>
        <input type="submit" value="Salvar" />
      </p>
    </form>
  </body>
</html>
